<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - TiesoChat</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css"
    />
</head>
<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}

            Category: {{ messages[0][0] }}
            {{ messages[0][1] }}

        {% endif %}
    {% endwith %}


    {% block content %}

    {% endblock %}
</body>
</html>